.main-container {
    /* flex: 1; */
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    max-width: fit-content;
    padding: 20px 30px;

    background-color: #1f2127;
}

#card-list {
    display: flex;
    flex-wrap: wrap;              
    gap: 40px;                    
    justify-content: flex-start; 
    max-width: 39.006vw;
}

