.main-container {
    /* flex: 1; */
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    max-width: fit-content;
    padding: 20px 10px;

    background: linear-gradient(
        135deg,
        #0a0f1f 0%,
        #0d1224 20%,
        #131b35 50%,
        #1b2345 80%,
        #231a40 100%
    );
}

#card-list {
    display: flex;
    flex-wrap: wrap;              
    gap: 20px;                    
    justify-content: flex-start; 
    max-width: 39.006vw;
}

