:root {
    --accent: #8e24ff;
    --accent2: #39e6ff;
    --white: #ffffff;
    --muted: rgba(255, 255, 255, 0.75);
}

.wrapper {
    flex: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #0a0e19;
}

.panel {
    width: 100%;
    height: 100%;
    /* max-width: 1200px; */
    background: #f6f6f6;
    border: 2px solid #0a0e19;
    border-radius: 18px;
    padding: 24px;
    box-shadow: none;
}

.title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 18px;
    color: #0a0e19;
}

/* Excel Header */
.tableHeader {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr 1fr 1.2fr 0.6fr;
    padding: 10px 12px;
    font-size: 1rem;
    font-weight: bold;

    color: #f6f6f6;

    border-radius: 8px 8px 0px 0px;
    background: linear-gradient(180deg, rgba(10, 15, 28, 0.8), rgba(30, 20, 60, 0.7));
    margin-bottom: 2px;
}



/* Row */
.tableRow {
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr 1fr 1.2fr 0.6fr;
    gap: 8px;
    padding: 10px;
    background-color: #0a0e19;
}

.tableRow:last-of-type {
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr 1fr 1.2fr 0.6fr;
    gap: 8px;
    padding: 10px;
    background-color: #0a0e19;
    border-radius: 0px 0px 8px 8px;
}

.input {
    background: #ffffff;
    border: 1px solid #0a0e19;
    border-radius: 10px;
    color: #0a0e19;
    padding: 8px 10px;
    font-size: 0.9rem;
}


.input:disabled {
    opacity: 1;
}

/* Delete */
.deleteBtn {
    background: transparent;
    border: none;
    color: #ff6b6b;
    cursor: pointer;
    transition: 0.2s ease;
}

.deleteBtn:hover {
    transform: scale(1.15);
}

/* Footer */
.footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid #0a0e19;
}

.totalLabel {
    color: #0a0e19;
    font-size: 1rem;
}

.totalAmount {
    font-size: 1.3rem;
    font-weight: 700;
    color: #0a0e19;
}


/* Checkout */
.checkoutBtn {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #0a0e19;
    background: #ccff01;
    cursor: pointer;
}