.chat-field {
    padding: 15px 20px;
    border: 2px solid red;
    max-height: 82vh;
    min-height: 250px;          
    max-width: 80vw;
    overflow-y: auto;      
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
