.message-container
{
    display: flex;
    flex-direction: column;
}

.user-message {
    width: fit-content;
    align-self: flex-end;
    background: #d1e7ff;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 10px;
    max-width: 70%;
}

.robot-message {
    width: fit-content;
    align-self: flex-start;
    background: #e8e8e8;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 10px;
    max-width: 70%;
}
