.mainContainer {
    flex: 3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    background: linear-gradient(145deg, rgba(15,15,20,0.75), rgba(8,8,12,0.85));
}
