:root {
  --bg-dark: #0a0e19;
  --bg-hover: #1e2942;
  --text-main: #ffffff;
  --text-muted: #9ca3af;
  --border: #1f2937;
}

.sidebar {
  flex: 2;
  height: 100vh;
  min-width: 260px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  background: var(--bg-dark);
  /* border-right: 1px solid var(--border); */
  box-shadow: none;
}

#sidebarWrapper {
  height: 100vh;
  max-width: 280px;
}

/* BRAND */
.brandRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 16px 18px;
}


.logoContainer {
  font-size: 1.6rem;
  color: var(--text-main);
}

.collapseIcon {
  font-size: 1.4rem;
  color: var(--text-muted);
  cursor: pointer;
}

.collapseIcon:hover {
  color: var(--text-main);
}

/* NAV */
.navList {
  list-style: none;
  padding: 0;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.navItem {
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--text-muted);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: background 0.2s ease;
}

.navItem:hover {
  background: var(--bg-hover);
  color: var(--text-main);
  transform: none;
}

.active {
  background: var(--bg-hover);
  color: var(--text-main);
  box-shadow: none;
}

.navIcon {
  font-size: 1.2rem;
  opacity: 0.9;
}

.active .navIcon {
  opacity: 1;
}

/* FOOTER */
.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 16px;
  border-top: 1px solid var(--border);
}

.avatar {
  border-radius: 50%;
  border: none;
}

.profileName {
  color: var(--text-main);
  font-size: 0.9rem;
}

.brandLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brandName {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.6px;
  user-select: none;

  /* Gradient text */
  background: linear-gradient(
    270deg,
    #8e24ff,
    #39e6ff,
    #c6ff00,
    #ff9100,
    #8e24ff
  );
  background-size: 600% 600%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  /* Animation */
  animation: gradientShift 6s ease infinite;
}

/* Gradient animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

