#input-bar
{
    position: relative;
    margin: 8px auto 0 auto;
    width: 45vw;
    padding: 5px;
    padding: 4px 5px;
    border: 2px solid black;
    border-radius: 40px;
}

#text-field
{
    border: none;
    padding: 5px 5px;
    margin: 0 5px;
}

#text-field:focus
{
    border: none;
    box-shadow: none;
}

#submit-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 5px 7px 5px 10px;
}