.main-container
{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #0a0e19;
    /* background-image: url(https://as1.ftcdn.net/v2/jpg/01/95/42/26/1000_F_195422696_mgPBnLEcv0eIu4FKCwOjIB50ZmCQEiFr.jpg);
     */
}

