.background {
  position: fixed;
  inset: 0;
  background: rgba(10,10,15,0.75);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.mapContainer {
  width: 85vw;
  height: 85vh;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.15);
  box-shadow:
    0 0 40px rgba(142,36,255,0.35),
    0 0 60px rgba(57,230,255,0.25);
}

.closeBtn {
  position: absolute;
  top: 22px;
  right: 28px;

  background: rgba(0,0,0,0.6);
  color: white;
  border: none;

  font-size: 20px;
  padding: 6px 14px;

  border-radius: 10px;
  cursor: pointer;

  z-index: 10;
}

.closeBtn:hover {
  background: rgba(0,0,0,0.8);
  transform: scale(1.08);
}
