#model-display {
    width: 100%;
    height: 100%;

    background: radial-gradient(circle, #111118 0%, #0b0d12 100%);
    border-radius: 16px;

    box-shadow:
        inset 0 0 25px rgba(142, 36, 255, 0.2),
        inset 0 0 35px rgba(57, 230, 255, 0.15);

    overflow: hidden;
    padding-bottom: 10px;
}
