.main-container {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 30px;

    background-color: #1f2127;
}

#card-list {
    display: flex;
    flex-wrap: wrap;              /* allow cards to move to next row */
    gap: 40px;                    /* spacing between cards */
    justify-content: flex-start;  /* align cards to the left */
}

