.main-container {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 30px;

    background-color: #1f2127;
}

#card-list {
    display: flex;
    flex-wrap: wrap;              /* allow cards to move to next row */
    gap: 40px;                    /* spacing between cards */
    justify-content: flex-start;  /* align cards to the left */
}

.scanBtn {
  padding: 14px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  background: #ccff01;
  cursor: pointer;
  transition: 0.2s ease;
  margin:10px
}

