.overlay
{
    /* position: absolute; */
    width: 100%;
    height: fit-content;
    /* min-height: 100vh; */
    font-size: 2em;
    /* padding: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  line-height: 1;
}

.closeBtn:hover {
  opacity: 0.7;
}
