.background
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(22, 20, 20, 0.915);
    z-index: 3;
}

.display-container
{
    border: 2px solid white;
    width: 65vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
}


#price-details
{
    border: 2px solid yellow;
}