.wrapper {
  flex: 1;
  background: #0a0e19;
  border-radius: 18px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 100%;
  height: 70%;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 16px;
}

.startBtn,
.stopBtn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.startBtn {
  background: #ccff01;
}

.stopBtn {
  background: #ff6b6b;
}
