:root {
  --bg-dark: #05070d;
  --bg-soft: #0a0e19;
  --text-main: #ffffff;
  --text-muted: #ffffff;
  --border-soft: rgba(255,255,255,0.06);
}

/* SIDEBAR */
.sidebar {
  flex: 2;
  height: 100vh;
  min-width: 260px;
  padding: 22px 18px;
  display: flex;
  flex-direction: column;

  background:
    linear-gradient(180deg, #05070d, #0a0e19);

  box-shadow: inset -1px 0 0 var(--border-soft);
}

#sidebarWrapper {
  max-width: 280px;
}

.brandRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 16px 18px;
}


.logoContainer {
  font-size: 1.6rem;
  color: var(--text-main);
}

.collapseIcon {
  font-size: 1.4rem;
  color: var(--text-muted);
  cursor: pointer;
}

.collapseIcon:hover {
  color: var(--text-main);
}

.logoContainer {
  font-size: 2.3rem;
  color: #8ab4ff;
}

/* NAV LIST */
.navList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* NAV ITEM */
.navItem {
  padding: 12px 14px;
  border-radius: 10px;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--text-muted);
  font-size: 0.95rem;
  transition: background 0.25s ease, color 0.25s ease;
}

.navItem:hover {
  background: rgba(255,255,255,0.06);
  color: white;
}

/* ACTIVE */
.active {
  background: rgba(255,255,255,0.1);
  color: var(--text-main);
}

/* FOOTER */
.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 18px;
  border-top: 1px solid var(--border-soft);
}

.avatar {
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.12);
}

.profileName {
  color: var(--text-main);
  font-size: 0.95rem;
}

.brandLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brandName {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.6px;
  user-select: none;

  /* Gradient text */
  background: linear-gradient(
    270deg,
    #8e24ff,
    #39e6ff,
    #c6ff00,
    #ff9100,
    #8e24ff
  );
  background-size: 600% 600%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  /* Animation */
  animation: gradientShift 6s ease infinite;
}

/* Gradient animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}